/node_modules
/public/hot
/public/storage
/storage/*.key

/vendor/*
!/vendor/laravel
/vendor/laravel/*
!/vendor/laravel/jetstream
/vendor/laravel/jetstream/*
!/vendor/laravel/jetstream/routes
!/vendor/laravel/jetstream/src
/vendor/laravel/jetstream/routes/*
/vendor/laravel/jetstream/src/*
!/vendor/laravel/jetstream/routes/livewire.php

!/vendor/laravel/jetstream/src/Http
/vendor/laravel/jetstream/src/Http/*
!/vendor/laravel/jetstream/src/Http/Controllers
!/vendor/laravel/jetstream/src/Http/Livewire
/vendor/laravel/jetstream/src/Http/Controllers/*
/vendor/laravel/jetstream/src/Http/Livewire/*
!/vendor/laravel/jetstream/src/Http/Controllers/Livewire
!/vendor/laravel/jetstream/src/Http/Livewire/UpdateProfileInformationForm.php
/vendor/laravel/jetstream/src/Http/Controllers/Livewire/*
!/vendor/laravel/jetstream/src/Http/Controllers/Livewire/UserProfileController.php
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
